<div class="showcase-products">
    <div class="showcase-item">
        <div class="showcase-item-view">
            <h3>Item-1</h3>
        </div>
        <div class="showcase-item-desc">
            <h4>Description</h4>
        </div>
    </div>
    <div class="showcase-item">
        <div class="showcase-item-view">
            <h3>Item-2</h3>
        </div>
        <div class="showcase-item-desc">
            <h4>Description</h4>
        </div>
    </div>
    <div class="showcase-item">
        <div class="showcase-item-view">
            <h3>Item-3</h3>
        </div>
        <div class="showcase-item-desc">
            <h4>Description</h4>
        </div>
    </div>
    <div class="showcase-item">
        <div class="showcase-item-view">
            <h3>Item-4</h3>
        </div>
        <div class="showcase-item-desc">
            <h4>Description</h4>
        </div>
    </div>
    <div class="showcase-item">
        <div class="showcase-item-view">
            <h3>Item-5</h3>
        </div>
        <div class="showcase-item-desc">
            <h4>Description</h4>
        </div>
    </div>
    <div class="showcase-item">
        <div class="showcase-item-view">
            <h3>Item-6</h3>
        </div>
        <div class="showcase-item-desc">
            <h4>Description</h4>
        </div>
    </div>
    <div class="showcase-item">
        <div class="showcase-item-view">
            <h3>Item-7</h3>
        </div>
        <div class="showcase-item-desc">
            <h4>Description</h4>
        </div>
    </div>
    <div class="showcase-item">
        <div class="showcase-item-view">
            <h3>Item-8</h3>
        </div>
        <div class="showcase-item-desc">
            <h4>Description</h4>
        </div>
    </div>
    <div class="showcase-item">
        <div class="showcase-item-view">
            <h3>Item-9</h3>
        </div>
        <div class="showcase-item-desc">
            <h4>Description</h4>
        </div>
    </div>
    <div class="showcase-item">
        <div class="showcase-item-view">
            <h3>Item-10</h3>
        </div>
        <div class="showcase-item-desc">
            <h4>Description</h4>
        </div>
    </div>
</div>